<form *ngIf="!issubmitted"(ngSubmit)="CreateProfile()" [formGroup]="profileForm">
<mat-form-field appearance="fill">
    <input matInput placeholder="UserName" type= Username class="form-control" formControlName="username">
  </mat-form-field>
<mat-form-field appearance="fill">
    <input matInput placeholder="Password" class="Form-control" formControlName="password">
  </mat-form-field>
  <button type="submit"> Submit </button>

</form>


<div class="alert" *ngIf="issubmitted">
    <h2>Form Data</h2>
    {{profileForm.value.username}}
    {{profileForm.value.password}}
</div>

<!--<tr *ngFor="let pro of profilevar">
  <td><span>{{pro.name}}</span></td>
  <td><span>{{pro.email}}</span></td>
  <td><span>{{pro.bio}}</span></td>
  <td><span>{{pro.img}}</span></td>
</tr> -->